<h2>Groups</h2>

<div class = "row padder">
<div class = 'col-md-8'>
  <%= @content%>
</div>
</div>

<div class = "col-md-8">
<form action = "/groups" method="POST">
  <div class="form-group row">
    <label for="group_name" class="col-xs-2">Naam van nieuwe groep</label>
    <div class="col-xs-4">
      <input class="form-control" type="text" id="group_name" name="group_name">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Voeg toe!</button>
</form>
  <p><%= @error_message%></p>
</div>