<h3>Alle gymmies die je kan behalen</h3>

<!--Choose among difficulty groups-->
<div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter="partI">Deel 1</button>
  <button class="button" data-filter="partII">Deel 2</button>
  <button class="button" data-filter="partIII">Deel 3</button>
</div>

<div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".arabier">Arabier</button>
  <button class="button" data-filter=".salto_vo">Salto vo</button>
  <button class="button" data-filter=".salto_ao">Salto ao</button>
</div>


  <%= @content%>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script>


    // init Isotope
    var $grid = $('.grid').isotope({
        itemSelector: '.gymmie',
        layoutMode: 'fitRows',
        getSortData: {
            profile: '.profile',
            level: '.level'
        }
    });

    // bind filter button click
    $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        // use filterFn if matches value
        filterValue = filterFns[ filterValue ] || filterValue;
        $grid.isotope({ filter: filterValue });
    });

    // filter functions
    var filterFns = {
        // gymmies part I
        partI: function() {
            var level = $(this).find('.level').text();
            return parseInt(level) <= 3;
        },
        // gymmies part II
        partII: function() {
            var level = $(this).find('.level').text();
            var parsedLevel = parseInt(level);
            return (parsedLevel > 3 && parsedLevel <= 6);
        },
        // gymmies part III
        partIII: function() {
            var level = $(this).find('.level').text();
            var parsedLevel = parseInt(level);
            return (parsedLevel > 6 && parsedLevel <= 9);
        },
    };

    // bind sort button click
    $('#sorts').on( 'click', 'button', function() {
        var sortByValue = $(this).attr('data-sort-by');
        $grid.isotope({ sortBy: sortByValue });
    });

    // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $( this ).addClass('is-checked');
        });
    });

</script>