
<div class="jumbotron padder">
  <h1>Gymmieturnen!</h1>
  <p>Het gymmieturnen is een methodiek binnen de KNGU om op speelse wijze profielelementen onder de knie te krijgen.
  Leer een salto van schommelen tot op vloer. Deze site bevat alle te behalen gymmies, de eisen om een gymmie te halen, en je persoonlijke gymmie collectie!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Meer informatie</a></p>
</div>

<div class = "col-md-10">


  <div class="row">
    <div class="col-lg-4 marketing-header">
      <span>
      <img class="img-circle" src="img/groups.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Groep management</h2>
      <p>Bekijk  alle groepen en leden die meedoen aan het gymmieturnen. Zet leden over naar nieuwe groepen, maak nieuwe groepen en leden aan, etc.</p>
      <p><a href="/groups" class="btn btn-primary" role="button">Bekijk groepen</a></p>
        </span>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 marketing-header">
      <img class="img-circle" src="img/gymmies_logo.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Gymmies database</h2>
      <p>Gymmies staan voor oefeningen die horen bij het leren van een profielelement. Ze lopen van makkelijk naar moeilijk.
      Elke gymmie beschrijft wat de leerling moet doen, en welke eisen er zijn om de gymmie te behalen. Alle gymmies zijn in te
      zien in een handig overzicht.</p>
      <p><a href="/gymmies" class="btn btn-primary" role="button">Bekijk gymmies</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 marketing-header">
      <img class="img-circle" src="img/statistics-icon.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Statistieken</h2>
      <p>Hoe doen de leden het? Wie heeft de meeste gymmies? Welke gymmie is het moeilijkst om te behalen? Wanneer zijn er gymmies afgegeven?
        Antwoord op deze vragen en nog veel meer vind je op de statistiek pagina!</p>
      <p><a href="#/stats" class="btn btn-primary" role="button">Bekijk stats!</a></p>
    </div><!-- /.col-lg-4 -->
  </div>

  <!--<div class="row">-->
    <!--<div class="col-sm-6 col-md-4">-->
      <!--<div class="thumbnail">-->
        <!--<img src="/img/groups.png" class="img-column-header">-->
        <!--<div class="caption">-->
          <!--<h3>Groepen</h3>-->
          <!--<p>Bekijk  alle groepen en leden die meedoen aan het gymmieturnen. Zet leden over naar nieuwe groepen, maak nieuwe groepen en leden aan, etc.</p>-->
          <!--<p><a href="/groups" class="btn btn-primary" role="button">Bekijk groepen</a></p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-6 col-md-4">-->
      <!--<div class="thumbnail">-->
        <!--<img src="/img/gymmies_logo.png" class="img-column-header"/>-->
        <!--<div class="caption">-->
          <!--<h3>Gymmies</h3>-->
          <!--<p>Gymmies staan voor oefeningen die horen bij het leren van een profielelement. Ze lopen van makkelijk naar moeilijk.-->
          <!--Elke gymmie beschrijft wat de leerling moet doen, en welke eisen er zijn om de gymmie te behalen. Alle gymmies zijn in te-->
          <!--zien in een handig overzicht.</p>-->
          <!--<p><a href="/gymmies" class="btn btn-primary" role="button">Bekijk gymmies</a></p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-6 col-md-4">-->
      <!--<div class="thumbnail">-->
        <!--<img src="/img/groups.png" class="img-column-header">-->
        <!--<div class="caption">-->
          <!--<h3>Statistiek</h3>-->
          <!--<p>Hoe doen de leden het? Wie heeft de meeste gymmies? Welke gymmie is het moeilijkst om te behalen? Wanneer zijn er gymmies afgegeven?-->
          <!--Antwoord op deze vragen en nog veel meer vind je op de statistiek pagina!</p>-->
          <!--<p><a href="#/stats" class="btn btn-primary" role="button">Bekijk statistics!</a></p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>