<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gymmieturnen App!</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>


<body>
<div class = "col-md-10">
  <h2>Welcome to the awesome Gymmieturnen App</h2>

  <%= yield %>

</div>


</body>



<footer><h5>Tick Tock its : <%= Time.new.localtime%></h5></footer>

</html>